%article
  %header
    %span.h Professional Summary

  %section
    %ul
      %li Self-taught programmer with strong desire to learn
      %li Webmaster for many sites (some built from scratch and some CMS-based)
      %li Strong sense of object-oriented programming
      %li MVC (Rails, Sinatra, Merb, ASP.NET MVC)
      %li GNU|Linux evangelist and Open Source advocate
      %li Well-developed analytical skills
      %li Have worked with large datasets (1.5M to 2M records)
      %li Attend trade meetings and conferences regularly
      %li Have configured systems and networks professionally and personally
      %li Technical advisor to several people

%article
  %header
    %span.h Technical Summary

  %section
    %dl
      %dt Languages
      %dd HTML (4, 5), CSS (2, 2.1, 3), Ruby (1.8, 1.9), JavaScript | JSON, PHP (4, 5), C# (2, 3), VB (2, 3), ASP.NET (2, 3, 3.5), XML, ColdFusion, Flex | AS3, VBA
    %dl
      %dt Databases
      %dd SQLite, MySQL, MSSQL
    %dl
      %dt Code Samples
      %dd <a href="http://github.com/ravinggenius">github.com/ravinggenius</a>
    %dl
      %dt Other
      %dd git, SVN, REST, text editor, VIM, Regular Expressions, Visual Studio (2005, 2008), Drupal (4.7, 5, 6), SharePoint 2007, Joomla! (1.1, 1.5)
    %dl
      %dt Future Interests
      %dd Agile, TDD, LISP, C++, NoSQL (especially MongoDB), Pair Programming, PostgreSQL, Graphic Design, Java (maybe), The Next Big Thing

%article
  %header
    %span.h Professional Experience

  %section
    %header
      %span.h яandomByDesign; Freelancer | Owner; Apex, NC; 03/2008 - present
    %section
      %ul
        %li Created a church <span class="keyword">CMS</span>-backed website for a friend <span class="keyword">Drupal</span>, <span class="keyword">PHP</span>, <span class="keyword">MySQL</span>
        %li Hand-crafted several websites for friends and family <span class="keyword">Ruby</span>, <span class="keyword">Sinatra</span>, <span class="keyword">HTML</span>, <span class="keyword">CSS</span>, <span class="keyword">JavaScript</span>

  %section
    %header
      %span.h CISYS | Life Sciences; Web Developer; N Raleigh, NC; 10/2007 - 03/2010
    %section
      %ul
        %li Built a <span class="keyword">SharePoint</span>-backed IRB system from scratch with custom secure login <span class="keyword">C#</span>, <span class="keyword">HTML</span>, <span class="keyword">CSS</span>, <span class="keyword">JavaScript</span>
        %li Built a flexible <span class="keyword">ORM</span> for interacting with <span class="keyword">SharePoint</span>'s database (inspired by <span class="keyword">Ruby</span>'s <span class="keyword">DataMapper</span>)
        %li Created many helper classes, including an <span class="keyword">HTML</span>-generation library
        %li Created several websites, primarily using <span class="keyword">ASP.NET technologies</span>, including <a href="http://www.cisys.com/">CISYS</a>'. <span class="keyword">HTML</span>, <span class="keyword">CSS</span>, <span class="keyword">JavaScript</span>, <span class="keyword">AJAX</span>, <span class="keyword">C#</span>, <span class="keyword">VB.NET</span>, <span class="keyword">PHP</span>
        %li Advocated improved development methodologies, such as <span class="keyword">test-driven development</span>
        %li Contracted with partner/vendor, Presentation Strategies
        %li Supported existing reporting projects <span class="keyword">MSSQL</span>, <span class="keyword">XML</span>, <span class="keyword">VBA</span>
        %li Updated and maintained some websites <span class="keyword">PHP</span>, <span class="keyword">HTML</span>, <span class="keyword">CSS</span>, <span class="keyword">MSSQL</span>, <span class="keyword">MySQL</span>

  %section
    %header
      %span.h Sir Speedy Cary; Mail Room Supervisor | Web Developer; Cary, NC; 09/2005 - 10/2007
    %section
      %ul
        %li Built an online ordering system for our largest client to replace the old one <span class="keyword">PHP</span>, <span class="keyword">HTML</span>, <span class="keyword">CSS</span>, <span class="keyword">MySQL</span>
        %li Address and prepare letters and postcards for bulk mail
        %li Cut paper, run deliveries, collate, hole punch and make computer recommendations

%article
  %header
    %span.h Education

  %section
    %header
      %span.h Sandhills Community College; Pinehurst, NC; 2001 spring
    %section
      %ul
        %li Accrued some basic credits
        %li Left after a semester because of finances

  %section
    %header
      %span.h Pensacola Christian College; Pensacola, FL; 2000 spring
    %section
      %ul
        %li Computer Science major
        %li Left after a semester because of stringent rules

  %section
    %header
      %span.h Calvary Christian School; Southern Pines, NC; 1995 - 1999
    %section
      %ul
        %li Chose electives that focused on Math, Physics and Logic

%article
  %header
    %span.h Certifications

  %section
    %ul
      %li Computer Troubleshooting; Wake Technical Community College; 2006
      %li MySQL; Wake Technical Community College; 2005
