body {
	background-color: #1f1f1f;
	color: #000000;
}

a {
	color: #1f1f1f;
}

.section {
	background-color: #797979;
	border: #999999 0.025em solid;
}

.section .section {
	background-color: #ffffff;
	color: #1f1f1f;
}

	.legend {
	}
		.legend ul {
		}
			.legend ul li {
				border: #999999 0.025em solid;
			}

	.section h2,
	.section h3 {
		background-color: #cacaca;
	}
	.section span {
		/* background-color: #ffff00; */
	}
	.section .description {
	}

	.section .master {
	}
	.section .fluent {
	}
	.section .proficient {
	}
	.section .intermediate {
	}
	.section .novice {
	}

#branding {
}

#contact {
}

#about {
}

#languages {
}

#portfolio {
}

#experience {
}

#interests {
}
