/*a[href^='ftp']:after {
	content: ' ftp';
}
a[href^='git']:after {
	content: ' git';
}
a[href^='http']:after {
	content: ' http';
}
a[href^='mailto']:after {
	content: ' mailto';
}
a[href^='ssh']:after {
	content: ' ssh';
}*/

/*a:visited:before {
	content: '\2713 ';
}*/

.section {
}

	.legend {
	}
		.legend ul {
		}
			.legend ul li {
			}

	.section h2,
	.section h3 {
	}
	.section h3 {
		cursor: pointer;
	}
	.section span {
	}
	.section .description {
	}

	.section .master h3:after,
	.legend .master:after {
		content: ' \2713\2713\2713\2713\2713';
		font-size: 0.9em;
	}
	.section .fluent h3:after,
	.legend .fluent:after {
		content: ' \2713\2713\2713\2713';
		font-size: 0.9em;
	}
	.section .proficient h3:after,
	.legend .proficient:after {
		content: ' \2713\2713\2713';
		font-size: 0.9em;
	}
	.section .intermediate h3:after,
	.legend .intermediate:after {
		content: ' \2713\2713';
		font-size: 0.9em;
	}
	.section .novice h3:after,
	.legend .novice:after {
		content: ' \2713';
		font-size: 0.9em;
	}

#portfolio {
}
	#portfolio .section span:before {
		content: 'Status: ';
	}
