.section {
	margin: 0.5em;
	padding: 0.25em;
}

	.legend {
	}
		.legend ul {
		}
			.legend ul li {
				/* display: inline-block; */
				margin: 0.25em;
				padding: 0.25em;
			}

	.section > * {
		padding: 0.25em;
	}
	.section span {
		display: block;
	}
	.section .description {
	}

.section .section {
	display: inline-block;
	width: 15em;
	min-height: 10em;
	vertical-align: top;
}

#branding {
}

#contact {
}

#about {
}

#languages {
}

#portfolio {
}

#experience {
}

#interests {
}
